body {
    background-image: url("/src/img/bg/star.gif");
    color: white;
}

#board {
    border: solid 1px black;
    image-rendering: crisp-edges;
}

td, th {
    border: 1px solid #ffffff;
    width: 160px;
    padding: 8px;
}

.sidebar {
    background-color: rgba(45, 45, 46, 0.88);
    color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    overflow: scroll;
    height: 512px;
}

a {
    color: yellow;
}

a:visited {
    color: blueviolet;
} 

.variant-info {
    display: inline-block;
}